<h1>ACKS Regional Generator</h1>

<form action="/generatemap" method ="post" accept-charset="utf-8">
	<br/>	
	<label for="width">Width (hexes)</label> 
	<input type="text" id="width" name="width" value="30">
	<br/>
	<label for="height">Height (hexes)</label> 
	<input type="text" id="height" name="height" value="40">
	<br/>
	<label for="axis">Civilized Lands Lay to the...</label> 
	<select name="axis">
		<option value="none">(No Civilized Lands Bias)</option>
		<option value="north">North</option>
		<option value="northeast">Northeast</option>
		<option value="east">East</option>
		<option value="southeast">Southeast</option>
		<option value="south">South</option>
		<option value="southwest">Southwest</option>
		<option value="west">West</option>
		<option value="northwest">Northwest</option>
	</select>
	<br/>
	<label for="strength">Civilized Lands Bias Strength</label> 
	<input type="text" id="strength" name="strength" value="500">
	<br/>
	<label for="terrain">Generate Terrain?</label>
	<select name="terrain">
		<option value="1">Yes, please.</option>
		<option value="0">No, I'm old school, thanks.</option>
	</select>
	<br/>
	<input type="submit" value="Generate Map">
</form>

<div>
	<h3>Bias Strength:</h3>
	<p>The higher this number, the more likely it is that settlements will appear in the "civilized" direction. Also, the higher the number the more likely that encounter locations will appear the further away from the "civilized" areas.</p>
</div>

<p>
You might also like:
</p>
<ul>
	<li><a href="http://www-cs-students.stanford.edu/~amitp/game-programming/polygon-map-generation/">Polygonal Map Generation for Games</a></li>
	<li><a href="http://aeonsnaugauries.blogspot.com/">Aeons & Augauries</a></li>
	<li><a href="http://www.hexographer.com/">Hexographer.com</a></li>
	<li><a href="http://www.welshpiper.com/arr-kelaan-hexmapper/">Arr-Kelaan Hexmapper</a></li>
	<li><a href="http://oddlabs.com/download/terrain_generation.pdf">Realtime Procedural Terrain Generation (Olsen, et al)</a></li>
	<li><a href="http://www.bay12games.com/dwarves/">Dwarf Fortress</a></li>
</ul>